*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* BARRA SUPERIOR */

.barraSuperior{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: black;
}

/* MENU */

.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
   
}

.menu a {
    color: black;
}

/* BOLETINES */

.titulo {
    text-align: center;
    font-size: 30px;
    background-color: rgb(199, 199, 199);
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding-top: 5px;
    padding-bottom: 5px;
}



.boletines {
    padding: 1% 15% 10% 15%;
    text-align: center;
}

.boletines h3 {
    margin-bottom: 10px;
    font-size: 3em; 
}




/* PIE DE PAGINA */

.pieDePagina {
    height: auto;
    background-color: gray;
   
     
}

.pieDePagina div{
    display: inline-block;
    padding: 15px;
}